.hall_row {
    margin-left: 10px;
    width : 100%;
    float: left;
}
.colDiv{
    border: 1px solid #2c3b41;
    width: 20px;
    display: inline-block;
    height: 20px;
    margin-left: 10px;
    position: relative;
    top:5px;
}

